.active {
    color: "red"
}

h1.dev {
    color: #555555;
}

h1.boy {
    color: #BBBBBB;
}

md-toolbar.header {
    background-color: rgba(0, 0, 0, 0) !important;
}

div.head1 {
    font-weight: 700 !important;
    padding-right: 10px;
    color: #555555;
}

div.head2 {
    font-weight: normal !important;
    color: darkgrey;
}

a.nav {
    margin-right: 20px;
    background: rgba(0, 0, 0, 0);
    color: darkgrey;
}

a.active {
    color: #555555;
    font-weight: 700 !important;
}

div.footer {
    height: 155px;
    position: relative;
    top: 0;
}

div.banner {
    height: 450px;
}

div.rounded-button {
    border-radius: 20px;
    border: solid;
    border-width: thin;
    border-color: #555555;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #555555;
    cursor: pointer;
}

div.rounded-button:hover {
    color: #FFFFFF;
    background: #555555;
}
