<div layout="column"
     layout-align="none center">

    <div layout="row">
        <h1 class="dev">DEV</h1>
        <h1 class="boy">BOY</h1>
    </div>
    
    <div layout="row"
         style="width: 100%;
                margin-top: 100px;">
        <span class="md-title"
              flex="50"
              layout="row"
              layout-align="center">
            is fat...
        </span>
        <span flex="50"></span>
    </div>
    
    <div layout="row"
         style="width: 100%;
                margin-top: 100px;">
        <span flex="50"></span>
        <span class="md-title"
              flex="50"
              layout="row"
              layout-align="center">
            loves video games... Like who doesn't?
        </span>
    </div>
    
    <div layout="row"
         style="width: 100%;
                margin-top: 100px;">
        <span class="md-title"
              flex="50"
              layout="row"
              layout-align="center">
            is your typical developer... I uh... Develop things -_-
        </span>
        <span flex="50"></span>
    </div>
    
    <div layout="row"
         style="width: 100%;
                margin-top: 100px;">
        <span flex="50"></span>
        <span class="md-title"
              flex="50"
              layout="row"
              layout-align="center">
            has black glasses... Well if you look closely, there's a small white parts on the sides. But technically, it's black...
        </span>
    </div>

</div>