<div class="footer" layout="row" md-colors="{background : 'grey-900'}" layout-padding>

    <div flex="30" layout="column" layout-align="none end" layout-padding>

        <a ui-sref="contact" ui-sref-active="active" class="md-subheader nav" style="text-decoration: none">CONTACT</a>

        <a ui-sref="about" ui-sref-active="active" class="md-subheader nav" style="text-decoration: none">ABOUT</a>

        <a ui-sref="tools" ui-sref-active="active" class="md-subheader nav" style="text-decoration: none">TOOLS</a>

    </div>

    <div flex="70" layout="column">
        <span flex></span>
        <span class="md-body-1" style="text-align: right">
            Copyright © DevBoy 2017
        </span>
    </div>
</div>
