<div class="footer"
     layout="row"
     md-colors="{background : 'grey-900'}"
     layout-padding>
    
    <div flex="30"
         layout="column"
         layout-align="none end">
        
        <a ui-sref="contact"
           ui-sref-active="active"
           class="md-subheader nav"
           style="text-decoration: none">CONTACT</a>
        
        <a ui-sref="about"
           ui-sref-active="active"
           class="md-subheader nav"
           style="text-decoration: none">ABOUT</a>
        
    </div>
    
    <div flex="70">
        
    </div>
</div>