<div layout="column" layout-align="none center">

    <div layout="row">
        <h1 class="dev">DEV</h1>
        <h1 class="boy">BOY</h1>
        <h1 style="margin-left: 20px;">TOOLS</h1>
    </div>

    <div layout="row" style="width: 100%;">
        <div flex="45" layout="column" layout-align="none end">
            <h3 class="md-title" style="color: darkgrey">TECHNOLOGY</h2>
        </div>

        <span flex></span>

        <div flex="45" layout="column" layout-align="none start">
            <h3 class="md-title">AngularJS</h3>
            <h3 class="md-title">Angular Material</h3>
            <h3 class="md-title">Node.js</h3>
            <h3 class="md-title">ExpressJS</h3>
        </div>
    </div>

    <div layout="row" style="width: 100%;">
        <div flex="45" layout="column" layout-align="none end">
            <h3 class="md-title" style="color: darkgrey">SOFTWARE</h2>
        </div>

        <span flex></span>

        <div flex="45" layout="column" layout-align="none start">
            <h3 class="md-title">Brackets.io</h3>
            <h3 class="md-title">Krita</h3>
            <h3 class="md-title">Firefox Developer</h3>
        </div>
    </div>

    <div layout="row" style="width: 100%;">
        <div flex="45" layout="column" layout-align="none end">
            <h3 class="md-title" style="color: darkgrey">WEAPON</h2>
        </div>

        <span flex></span>

        <div flex="45" layout="column" layout-align="none start">
            <h3 class="md-title">Wacom Intuos Draw</h3>
            <h3 class="md-title">MacBook Pro 2016</h3>
        </div>
    </div>

</div>
